:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  flex-basis: min-content;
}

.season-info {
  display: flex;
  flex-direction: column;
}

.season-info * {
  line-height: 1;
}

.season-info > p {
  font-size: 14px;
}
