:host {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: min-content;
}

:host > * {
  flex: 1;
}

.news-rows {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: scroll;
}
