<section class="scoreboard-header" aria-labelledby="standings-title">
  <h3 id="standings-title">Standings</h3>
  <menu aria-label="Scoreboard actions">
    <li>
      <button aria-label="">.</button>
    </li>
    <li>
      <button aria-label="">.</button>
    </li>
    <li>
      <button aria-label="">.</button>
    </li>
    <li>
      <button aria-label="">.</button>
    </li>
  </menu>
</section>

<section class="scoreboard-content">
  <team-scoreboard-row/>
  <hr>
  <team-scoreboard-row/>
  <hr>
  <team-scoreboard-row/>
  <hr>
  <team-scoreboard-row/>
  <hr>
  <team-scoreboard-row/>
  <hr>
  <team-scoreboard-row/>
  <hr>
  <team-scoreboard-row/>
  <hr>
  <team-scoreboard-row/>
  <hr>
  <team-scoreboard-row/>
  <hr>
  <team-scoreboard-row/>
  <hr>
  <team-scoreboard-row/>
  <hr>
  <team-scoreboard-row/>
</section>
