:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  flex: 1;
}

:host:last-child {
  flex: 1;
}
