<aside class="player-sidebar">
  <figure class="player-photo-container">
    <figcaption class="numeric-value">#01</figcaption>
    <img ngSrc="assets/Player_Placeholder.png" alt="" width="532" height="2047">
  </figure>

  <section class="player-properties">
    <section class="property">
      <h4>PROPERTY 1</h4>
      <p class="numeric-value">Value 1</p>
    </section>
    <section class="property">
      <h4>PROPERTY 1</h4>
      <p class="numeric-value">Value 1</p>
    </section>
    <section class="property">
      <h4>PROPERTY 1</h4>
      <p class="numeric-value">Value 1</p>
    </section>
    <section class="property">
      <h4>PROPERTY 1</h4>
      <p class="numeric-value">Value 1</p>
    </section>
    <section class="property">
      <h4>PROPERTY 1</h4>
      <p class="numeric-value">Value 1</p>
    </section>
    <section class="property">
      <h4>PROPERTY 1</h4>
      <p class="numeric-value">Value 1</p>
    </section>
    <section class="property">
      <h4>PROPERTY 1</h4>
      <p class="numeric-value">Value 1</p>
    </section>
    <section class="property">
      <h4>PROPERTY 1</h4>
      <p class="numeric-value">Value 1</p>
    </section>
  </section>
</aside>

<section class="player-main">
  <header class="player-header">
    <section class="player-identity">
        <img ngSrc="assets/Logo_Placeholder.png" alt="" width="80" height="80">
      <h3 class="player-tag">PLAYER TAG</h3>
    </section>

    <nav class="social-icons">
      <a href="" target="_blank">
        <img ngSrc="assets/Logo_Placeholder.png" alt="" width="32" height="32">
      </a>
      <a href="" target="_blank">
        <img ngSrc="assets/Logo_Placeholder.png" alt="" width="32" height="32">
      </a>
      <a href="" target="_blank">
        <img ngSrc="assets/Logo_Placeholder.png" alt="" width="32" height="32">
      </a>
      <a href="" target="_blank">
        <img ngSrc="assets/Logo_Placeholder.png" alt="" width="32" height="32">
      </a>
    </nav>
  </header>

  <section class="player-overview">
    <h2>Overview</h2>
    <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis opifex callidus. qui
      eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu adsimulato saepius replicando quod
      flagrantibus votis eum videre frater cuperet patruelis, siquid per inprudentiam gestum est remissurus ut mitis et
      clemens, participemque eum suae maiestatis adscisceret, futurum laborum quoque socium, quos Arctoae provinciae diu
      fessae poscebant.</p>
  </section>

  <section class="player-stats">
    <h2>Season Stats</h2>
    <ul>
      <section>
        <h4 class="stat-title">STAT TITLE - MODE</h4>
        <p class="stat-value">0.90</p>
      </section>
      <section>
        <h4 class="stat-title">STAT TITLE - MODE</h4>
        <p class="stat-value">0.90</p>
      </section>
      <section>
        <h4 class="stat-title">STAT TITLE - MODE</h4>
        <p class="stat-value">0.90</p>
      </section>
      <section>
        <h4 class="stat-title">STAT TITLE - MODE</h4>
        <p class="stat-value">0.90</p>
      </section>
    </ul>
  </section>
</section>
