:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  background: var(--default-background-color);
  gap: 16px;
  padding: 16px;
}

.player-sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  gap: 16px;
}

.player-main {
  flex: 0.8;
}

.player-photo-container {
  flex: 0.6;
  overflow: hidden;
}

.player-properties {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  height: 100%;
  background: var(--default-background-color);
  padding: 24px;
}

.property {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.player-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
}

.player-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 60px;
  max-height: 60px;
  overflow: hidden;
  background: var(--default-background-color);
}

.player-header > * {
  flex: 1;
}

.player-identity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}

.player-overview,
.player-stats {
  background: var(--default-background-color);
}

.player-stats ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 64px;
}

.player-stats ul section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
