<ul>
  <li data-accName="Item 1">
    <section class="news-header">
      <h3>News Title</h3>
      <p>News Subtitle</p>
    </section>
    <section class="news-info">
      <p>57 minutes ago</p>
      <a>News</a>
    </section>
  </li>
  <li data-accName="Item 2">
    <section class="news-header">
      <h3>News Title 1</h3>
      <p>News Subtitle</p>
    </section>
    <section class="news-info">
      <p>57 minutes ago</p>
      <a>News</a>
    </section>
  </li>
  <li data-accName="Item 3">
    <section class="news-header">
      <h3>News Title 2</h3>
      <p>News Subtitle</p>
    </section>
    <section class="news-info">
      <p>57 minutes ago</p>
      <a>News</a>
    </section>
  </li>
  <li data-accName="Item 4">
    <section class="news-header">
      <h3>News Title 3</h3>
      <p>News Subtitle</p>
    </section>
    <section class="news-info">
      <p>57 minutes ago</p>
      <a>News</a>
    </section>
  </li>
</ul>
