:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
  min-height: 64px;
  overflow: hidden;
  background: var(--default-background-color);
  padding: 0 24px;
}

:host .player-identity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  overflow: hidden;
}

.player-name-and-team {
  display: flex;
  flex-direction: column;
}

.player-name,
.player-team {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.player-winrate {
  display: flex;
  flex-direction: column;
}

.winrate-tag {
  display: flex;
  flex-direction: row;
}

.winrate-tag > * {
  padding: 8px;
}

.winrate-tag > .win-lose {
  background: #313039;
}

.winrate-tag > .win-lose-percentage {
  background: #856FAC;
}

.player-stats {
  display: flex;
  flex-direction: row;
  gap: 64px;
}
