<section class="player-identity">
  <img ngSrc="assets/Logo_Placeholder.png" alt="" width="80" height="80">
  <section class="player-name-and-team">
    <section class="player-name">
      <img ngSrc="assets/Logo_Placeholder.png" alt="" width="24" height="24">
      <h4>Player Name</h4>
    </section>
    <section class="player-team">
      <img ngSrc="assets/Logo_Placeholder.png" alt="" width="24" height="24">
      <h5>Team Name</h5>
    </section>
  </section>
</section>

<section class="player-role">
  <p>Role</p>
  <span>AR</span>
</section>

<section class="player-winrate">
  <p>Winrate</p>
  <section class="winrate-tag">
    <p class="win-lose numeric-value">237W - 165L</p>
    <p class="win-lose-percentage numeric-value">59%</p>
  </section>
</section>

<section class="player-stats">
  <section class="stat">
    <p>KDA</p>
    <span class="numeric-value">1.59</span>
  </section>
  <section class="stat">
    <p>KDA</p>
    <span class="numeric-value">1.59</span>
  </section>
  <section class="stat">
    <p>KDA</p>
    <span class="numeric-value">1.59</span>
  </section>
  <section class="stat">
    <p>KDA</p>
    <span class="numeric-value">1.59</span>
  </section>
  <section class="stat">
    <p>KDA</p>
    <span class="numeric-value">1.59</span>
  </section>
  <section class="stat">
    <p>KDA</p>
    <span class="numeric-value">1.59</span>
  </section>
</section>

<a href="players/1" class="numeric-value">-></a>
