<section class="team-roster-header">
  <section class="team-roster-info">
    <img ngSrc="assets/Logo_Placeholder.png" alt="" width="180" height="180">
    <h3>Team Name</h3>
  </section>
  <ul class="team-roster-socials">
    <li>
      <a href="" target="_blank">
        <img ngSrc="assets/Logo_Placeholder.png" alt="" width="32" height="32">
      </a>
    </li>
    <li>
      <a href="" target="_blank">
        <img ngSrc="assets/Logo_Placeholder.png" alt="" width="32" height="32">
      </a>
    </li>
    <li>
      <a href="" target="_blank">
        <img ngSrc="assets/Logo_Placeholder.png" alt="" width="32" height="32">
      </a>
    </li>
    <li>
      <a href="" target="_blank">
        <img ngSrc="assets/Logo_Placeholder.png" alt="" width="32" height="32">
      </a>
    </li>
  </ul>
</section>

<section class="team-roster-stats">
  <section class="stats-major">
    <h3>Major Record 1-0</h3>
    <p class="numeric-value">#th (250 points)</p>
  </section>
  <section class="stats-matches">
    <p class="numeric-value">L L L W W W L L L</p>
    <a href="">Next match vs. X</a>
  </section>
</section>

<section class="team-roster-players">
  <player-card/>
  <player-card/>
  <player-card/>
  <player-card/>
  <player-card/>
</section>
