:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  min-height: 32px;
  background: var(--default-background-color);
}

.event-info {
  display: flex;
  flex-direction: column;
  line-height: 1;
}
