:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 80px;
  height: 100%;
}

:host > .left-column,
:host > .main-column,
:host > .right-column {
  display: flex;
  flex-direction: column;
  background: var(--default-background-color);
}

:host > .main-column {
  flex: 1;
}

:host > .left-column,
:host > .right-column {
  flex: 0.25;
  max-width: 300px;
  gap: 16px;
}
