@import 'tailwindcss';

@layer utilities {

  /* Overflow - Start */
  .overflow-inherit {
    overflow: inherit;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .overflow-initial {
    overflow: initial;
  }

  /* Overflow - End */
  /* Snap - Start */
  .snap-x-mandatory {
    scroll-snap-type: x mandatory;
  }

  /* Snap - Start */
  /* Pulsating FX - Start */
  .pulsating-circle,
  .circle {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 100%;
    background-color: white;
    width: var(--circle-base-size);
    height: var(--circle-base-size);
    margin: 0 auto;
  }

  .pulsating-circle:before {
    content: '';
    position: absolute;
    top: 0;
    display: inline;

    /* Pulse size */
    width: 24px;
    height: 24px;

    border-radius: 50%;
    opacity: 0;

    /* Re-center the before content relative to parent */
    transform: translate(
      calc(-50% + calc(var(--circle-base-size) / 2)),
      calc(-50% + calc(var(--circle-base-size) / 2))
    );
    animation: pulsate 1.6s ease-out;
    animation-iteration-count: infinite;
  }

  @keyframes pulsate {
    0% {
      transform: translate(
        calc(-50% + calc(var(--circle-base-size) / 2)),
        calc(-50% + calc(var(--circle-base-size) / 2))
      ) scale(0.6, 0.6);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(
        calc(-50% + calc(var(--circle-base-size) / 2)),
        calc(-50% + calc(var(--circle-base-size) / 2))
      ) scale(1, 1);
      opacity: 0;
    }
  }
  /* Pulsating FX - End */
  /* Interactive element - Start */
  .interactive:hover {
    cursor: pointer;
    background-color: var(--interactive-element-bg-color);
  }

  /* Interactive element - End */
  /* Badge - Start */
  .badge,
  .badge-outline {
    display: inline-block;
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: magenta;
    max-height: fit-content;
    text-transform: uppercase;
    user-select: none;
  }

  .badge-outline {
    background: none;
    border: solid 1px;
  }

  /* Badge - End */
  /* Layout z - Start */
  .z-back {
    z-index: var(--layout-background) !important;
  }

  .z-mid {
    z-index: var(--layout-midground) !important;
  }

  .z-front {
    z-index: var(--layout-foreground) !important;
  }

  .z-header {
    z-index: var(--layout-header) !important;
  }

  /* Layout z - End */
  /* Text - Start */
  .underline {
    text-decoration-line: underline !important;
  }

  /* Text z - End */
  /* Link - Start */
  .link:not(:disabled) {
    color: var(--color-primary-50) !important;
  }

  .link:hover:not(:disabled) {
    text-decoration-thickness: var(--spacing-xs);
    text-decoration-color: var(--color-primary-50);
  }

  .link:hover:not(:disabled) > * {
    color: var(--color-primary-50);
  }

  /* Link - End */
}
