<h3>CDL 2026 Players</h3>
<section class="players">
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
  <hr>
  <player-list-row/>
</section>
