:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--default-background-color);
}

.players {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 4px;
}
