<h3 class="team-list-header">CDL 2026 teams</h3>

<section class="team-list-group">
  <section class="team-list-row">
    <team-card teamIdPlaceHolder="1"/>
    <team-card teamIdPlaceHolder="1"/>
    <team-card teamIdPlaceHolder="1"/>
    <team-card teamIdPlaceHolder="1"/>
  </section>
  <section class="team-list-row">
    <team-card teamIdPlaceHolder="1"/>
    <team-card teamIdPlaceHolder="1"/>
    <team-card teamIdPlaceHolder="1"/>
    <team-card teamIdPlaceHolder="1"/>
  </section>
  <section class="team-list-row">
    <team-card teamIdPlaceHolder="1"/>
    <team-card teamIdPlaceHolder="1"/>
    <team-card teamIdPlaceHolder="1"/>
    <team-card teamIdPlaceHolder="1"/>
  </section>
</section>
